/* Site Colors:
*/

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}

header {
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0;
  background: #4CAF50;
  color: white;
}

header h1 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.4em;
}

header h1 a img.bike-icon {
  display: inline-block;
  margin-bottom: 30px;
  width: 75px;
}

navigation {
  margin: 0;
  padding: 0;
  text-align: center;
}

navigation ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

navigation ul li {
  display: inline;
  margin-right: 1em;
}

#main {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.expanding-wrapper {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  min-width: 980px;
}

img#super-hero-image {
  width: 100%;
}

footer {
  width: 100%;
  padding: 2px;
  background: #4CAF50;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

footer p {
  font-size: 14px;
  margin: 2px;
}

ul#menu {
  list-style: none;
  overflow: hidden;
  width: 485px;
  padding: 0;
  margin: 100px auto;
}

ul#menu li {
  float: left;
  margin: 25px;
}

ul#menu li a {
  display: block;
  width: 150px;
  padding: 25px 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
}

ul#menu li a:hover {
  background: #EEE;
}

div#page {
  margin: 60px 25px;
}

div#page.narrow {
  width: 600px;
}

div#page h2 {
  line-height: 20px;
}

div#page p {
  font: 16px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

img.inset {
  float: left;
  width: 150px;
  margin-right: 20px;
}

table#inventory {
  margin-top: 30px;

  border-collapse: collapse;
}

table#inventory tr th {
  border: 1px solid #4CAF50;
  background: #4CAF50;
  color: white;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
}

table#inventory tr td, table#inventory tr th {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 13px;
}

table#inventory tr th {
  border: 1px solid #4CAF50;
}

table#inventory tr:nth-child(even){background-color: #f2f2f2;}

table#inventory tr:hover {background-color: #ddd;}

.detail dl {
  clear: both;
  height: 1em;
  margin-bottom: 1em;
}

.detail dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
}
.detail dl dd {
  float: left;
}
